<footer class="bg-bmw-gray01 w-full">
  <div class="mx-auto w-full 2xl:max-w-[2000px] py-6 md:py-10 inline-flex flex-col justify-start items-center px-6 md:px-10 lg:px-20 max-h-[220px]">
    <!-- Linha de ícones (placeholders em outlines conforme Figma) -->
    <div class="w-full xl:w-[1128px] h-8 inline-flex justify-between items-center">
      <div class="w-full xl:w-[1128px] h-16 md:h-24 xl:h-28 flex justify-start items-center gap-2.5">
        <div class="w-[591px] flex justify-start items-start gap-4">
          <div class="w-6 h-6 relative overflow-hidden">
            <div class="w-5 h-5 left-[2px] top-[2px] absolute outline outline-2 outline-offset-[-1px] outline-[#25282B]"></div>
            <div class="w-2 h-2 left-[8.04px] top-[7.96px] absolute outline outline-2 outline-offset-[-1px] outline-[#25282B]"></div>
            <div class="w-px h-0 left-[17.5px] top-[6.5px] absolute outline outline-2 outline-offset-[-1px] outline-[#25282B]"></div>
          </div>
          <div class="w-6 h-6 relative overflow-hidden">
            <div class="w-2.5 h-5 left-[7px] top-[2px] absolute outline outline-2 outline-offset-[-1px] outline-[#25282B]"></div>
          </div>
          <div class="w-6 h-6 relative overflow-hidden">
            <div class="w-5 h-4 left-[1px] top-[4px] absolute outline outline-2 outline-offset-[-1px] outline-[#25282B]"></div>
            <div class="w-1.5 h-1.5 left-[9.75px] top-[8.48px] absolute outline outline-2 outline-offset-[-1px] outline-[#25282B]"></div>
          </div>
          <div class="w-6 h-6 relative overflow-hidden">
            <div class="w-3 h-3 left-[10px] top-[8px] absolute outline outline-2 outline-offset-[-1px] outline-[#25282B]"></div>
            <div class="w-1 h-3 left-[2px] top-[9px] absolute outline outline-2 outline-offset-[-1px] outline-[#25282B]"></div>
            <div class="w-1 h-1 left-[2px] top-[2px] absolute outline outline-2 outline-offset-[-1px] outline-[#25282B]"></div>
          </div>
          <div class="w-6 h-6 relative overflow-hidden">
            <div class="w-5 h-5 left-[1.26px] top-[2.25px] absolute bg-[#25282B]"></div>
          </div>
          <div class="w-6 h-6 relative overflow-hidden">
            <div class="w-5 h-5 left-[2px] top-[2px] absolute bg-zinc-800"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright e crédito -->
    <div class="w-full xl:w-[1128px] min-h-8 pt-6 inline-flex justify-between items-center">
      <div class="flex-1 inline-flex flex-col justify-start items-start">
        <div class="self-stretch flex flex-col justify-start items-start">
          <div class="self-stretch justify-center text-[#262626] text-base font-normal leading-normal">© Copyright 2024 - Alpes BMW. Todos os direitos reservados. </div>
        </div>
      </div>
      <div class="px-3 pb-1 flex justify-start items-center">
        <div class="px-4 py-1 flex justify-center items-center gap-2.5">
          <div class="text-center justify-start text-bmw-gray03 text-xs leading-none tracking-tight">Feito por:</div>
          <div class="w-20 h-3 relative overflow-hidden">
            <div class="w-8 h-3 left-[16.14px] top-0 absolute bg-black"></div>
            <div class="w-6 h-2 left-[49.94px] top-[2.54px] absolute bg-black"></div>
            <div class="w-px h-px left-[73.16px] top-[8.77px] absolute bg-black"></div>
            <div class="w-px h-px left-[13.09px] top-[8.77px] absolute bg-teal-500"></div>
            <div class="w-3 h-2 left-0 top-[2.53px] absolute bg-teal-500"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


