<footer class="bg-bmw-gray01 w-full">
  <div class="mx-auto w-full 2xl:max-w-[2000px] py-16 inline-flex flex-col justify-start items-center px-6 md:px-10 lg:px-20">
    <div class="w-full xl:w-[1128px] h-8 inline-flex justify-between items-center">
      <div class="w-full xl:w-[1128px] h-44 flex justify-start items-center gap-2.5">
        <div class="w-[591px] flex justify-start items-start gap-4">
          <a href="https://github.com/MarioLucas0" target="_blank" rel="noopener noreferrer" class="w-6 h-6 flex items-center justify-center hover:opacity-80 transition-opacity">
            <img src="src/assets/images/instagram.png" alt="Instagram" class="w-6 h-6" />
          </a>
          <a href="https://github.com/MarioLucas0" target="_blank" rel="noopener noreferrer" class="w-6 h-6 flex items-center justify-center hover:opacity-80 transition-opacity">
            <img src="src/assets/images/facebook.png" alt="Facebook" class="w-6 h-6" />
          </a>
          <a href="https://github.com/MarioLucas0" target="_blank" rel="noopener noreferrer" class="w-6 h-6 flex items-center justify-center hover:opacity-80 transition-opacity">
            <img src="src/assets/images/youtube.png" alt="YouTube" class="w-6 h-6" />
          </a>
          <a href="https://github.com/MarioLucas0" target="_blank" rel="noopener noreferrer" class="w-6 h-6 flex items-center justify-center hover:opacity-80 transition-opacity">
            <img src="src/assets/images/linkedin.png" alt="LinkedIn" class="w-6 h-6" />
          </a>
          <a href="https://github.com/MarioLucas0" target="_blank" rel="noopener noreferrer" class="w-6 h-6 flex items-center justify-center hover:opacity-80 transition-opacity">
            <img src="src/assets/images/whatsapp.png" alt="WhatsApp" class="w-6 h-6" />
          </a>
        </div>
      </div>
    </div>
    <div class="w-full xl:w-[1128px] min-h-8 pt-6 inline-flex justify-between items-center">
      <div class="flex-1 inline-flex flex-col justify-start items-start">
        <div class="self-stretch flex flex-col justify-start items-start">
          <div class="self-stretch justify-center text-neutral-800 text-base font-normal font-['Poppins'] leading-normal">© Copyright 2024 - Alpes BMW. Todos os direitos reservados. </div>
        </div>
      </div>
      <div class="px-3 pb-1 flex justify-start items-center">
        <div class="px-4 py-1 flex justify-center items-center gap-2.5">
          <div class="text-center justify-start text-bmw-gray03 text-xs font-normal font-['Poppins'] leading-none tracking-tight">Feito por:</div>
          <img src="src/assets/images/logo-alpes 2 (1).svg" alt="alpesone" class="w-20 h-3" />
        </div>
      </div>
    </div>
  </div>
</footer>


